<div class="card" >
    <div id="footer"></div>
    <h6 class="card-header text-center">Watch now <i class="bi bi-r-circle"></i> All rights reserved</h6>
    <div class="card-body row text-center">
      <div class="col">
        <h5 class="card-title">Watch Now Theatres</h5>
        <p class="card-text">Akshya Nagar 1st Block 1st Cross,<br>
          Rammurthy nagar,<br>
          TVM-560016
        </p>
      </div>
      <div class="col">
        <i class="bi bi-telephone"></i> +91 999 999 9999<br>
        <i class="bi bi-telephone"></i> +91 999 999 9999<br>
        <i class="bi bi-whatsapp"> +91 999 999 9999</i> <br>
        <i class="bi bi-envelope-at"> admin@email.com</i> <br>
      </div>
      <div class="col">
        <i class="bi bi-facebook"><a href="https://www.facebook.com/"> WatchNow</a></i><br>
        <i class="bi bi-instagram"><a href="https://www.instagram.com/"> Watch_Now</a></i><br>
      </div>
    </div>
</div>
