  /* card */
  .card{
    width: 100% !important;
  }


  /* booking form */

  .booking-widget {
    width: 100%;
    padding-bottom: 1px;
    background-color: #fbfbfb;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .44);
  }
  
  .booking-widget__header {
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, .44);
  }
  
  /* .booking-widget__header figure {
    margin: 0;
    padding: 0;
  } */
  
  .header-caption {
    position: absolute;
    bottom: 20px;
    left: 25px;
    color: white;
  }
  
  .header-caption h3 {
    padding: 0;
    margin: 0;
    font-size: 25px;
  }
  
  .booking-widget__form {
    list-style-type: none;
    padding: 0 25px 0 25px;
    margin: 0;
  }
  
  .booking-widget__form li {
    margin: 25px 0;
  }
  
  .form-field {
    position: relative;
    background-color: #f4f4f4;
    margin-top: 10px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
  }
  
  .form-field__checkbox {
    display: inline-block;
    width: 20px;
  }
  
  .form-field__checkbox input[type='checkbox'] {
    width: 100%;
    opacity: .0;
  }
  
  .form-field__checkbox input[type='checkbox']:checked {
    opacity: 1;
  }
  
  
  .form-field label {
    color: #666666;
  } 
  
  .datepicker, .select-button {
    box-sizing: border-box;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    background-color: #414b59;
    color: white;
  }
  
  .form-field input[type='text'],
  .form__dropdown select {
    height: 45px;
    width: 100%;
    padding: 0 0 0 3px;
    background-color: #f4f4f4;
    border: none;
  }
  
  .form__dropdown {
    box-sizing: border-box;
    display: inline-block;
    width: 45%;
    padding: 5px;
  }
  

  
  .form__submit {
    width: 100%;
    height: 58px;
    border: 1px solid transparent;
    font-size: 15px;
    background-color: #fb6362;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 1px 1px 0 darkgrey;
    border-radius: 5px;
    cursor: pointer;
  }

  /* terms and condition */

#h6{
    font-size: 14px;
    border: 1px solid black;
}

.highlighted {
    background-color: rgba(255, 187, 0, 0.705); 
  }

  .availabe{
    background-color: green;
  }

  .fastflling{
    background-color: orange;
  }

  .housefull{
    background-color: red;
  }

  span{
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
  }


  /* reviews */
  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 0 auto;
  }
  
  .card-wrapper {
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    border: 2px solid black;
    border-radius: 5px;
    margin:5px auto;
    -webkit-animation:scaledown 0.3s linear;
    -moz-animation:scaledown 0.3s linear;
    animation:scaledown 0.2s linear;
    transform-origin:50% 50%;
    animation-fill-mode: forwards;
    background-color: rgb(250, 163, 163);
    height: 100px;
    width:200px;
  }
  
  .card-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index:100;
    -webkit-animation:scale 0.3s linear;
    -moz-animation:scale 0.3s linear;
    animation:scale 0.1s linear;
    transform-origin:50% 50%;
    animation-fill-mode: forwards;
  }
  
  .card-image img {
    border-radius: 5px 0 0 5px;
    height: 90%;
    width: 90px;
    object-fit: cover;
    padding: 5px;
  }
  
  .card-content h3 {
    padding-right: 5px;
    font-size: 1em;
    
  }
  
  @keyframes scale{
    0%{
      transform:scale(1.0);
    }
    100%{
      transform:scale(1.02);
    }
  }
  
  @keyframes scaledown{
    0%{
      transform:scale(1.02);
    }
    100%{
      transform:scale(1.0);
    }
  }