<table>
    <thead>
      <tr>
        <th>Movie</th>
        <th>Seats Booked</th>
        <th>Cancel Booking</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr >
        <td *ngFor="let movie of user.moviebooked"><strong>
        {{movie}}
        </strong></td>
        <td *ngFor="let seat of user.seatsbooked">{{seat}}</td>
        <td>
            <button class="button-35" role="button">Cancel</button>
        </td>
      </tr>
    </tbody>
</table>


<app-footer ></app-footer>