<!-- Banner -->
<hr>
<div class="gallery-container d-flex align-items-center justify-content-center bg-dark p-2" id="gallery-container" >
  <a *ngFor="let item of movie">
    <img class="img-responsive" [src]="item.image" alt="Poster of {{item.name}}">
  </a>
</div>
<hr>

<!-- Movie Lists -->
<div class="container2 text-center">
    <div class="row d-flex align-items-center justify-content-center mb-5">
        <div class="col col-md-auto mb-5" *ngFor="let item of movie">
            <div class="card" style="width: 18rem;">
                <img [src]="item.image" class="card-img-top" alt="Poster of {{item.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text"><i class="bi bi-star"></i> {{item.rating}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Category : {{item.category}}</li>
                  <li class="list-group-item">Language : {{item.language}}</li>
                </ul>
                <div class="card-body">
                  <a *ngIf="isadmin" (click)="Book(item._id)" class="card-link button-7">Edit</a>
                  <a *ngIf="iscustomer" (click)="Book(item._id)" class="card-link button-7">Book Now</a>
                  <a *ngIf="iscustomer" (click)="Rate(item._id)" class="card-link button-7 ms-1" title="Rate Movie"><i class="bi bi-heart-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer ></app-footer>