<div class="row">
    <div class="col-md-12">
      <form [formGroup]="form" (submit)="onSubmit()" >
        <h1> Add Movie </h1>
        <fieldset>
            <label for="name">Movie Name:</label>
            <input type="text" id="name" formControlName="name" required  >

            <label>Select Category:</label>
                <input type="radio" id="UA"  value="UA" formControlName="category"  ><label for="UA" class="light me-4">UA</label>
                <input type="radio" id="A" value="A" formControlName="category"  ><label for="A" class="light me-4">A</label>
                <input type="radio" id="PG" value="PG" formControlName="category"  ><label for="PG" class="light me-4">PG</label>
            <br><br>

            <label for="language">Language:</label>
            <select id="language" formControlName="language"  >
                <option value="Malayalam">Malayalam</option>
                <option value="Hindi">Hindi</option>
                <option value="Tamil">Tamil</option>
                <option value="Telugu">Telugu</option>
                <option value="English">English</option>
            </select>
        
            <label for="cast">Cast Details:</label>
            <textarea id="cast" formControlName="cast"  ></textarea>

            <label for="description">Description:</label>
            <textarea id="description" formControlName="description"  ></textarea>

            <label for="rating">Rating:</label>
            <input type="text" id="rating" formControlName="rating"  >

            <label for="seats">Seats:</label>
            <input type="text" id="seats" formControlName="seats" >

            <label for="price">Price:</label>
            <input type="text" id="price" formControlName="price"  >

            <label for="screen">Screen:</label>
            <select id="screen" formControlName="screen"  >
                <option value="Screen 1">Screen 1</option>
                <option value="Screen 2">Screen 2</option>
                <option value="Screen 3">Screen 3</option>
                <option value="Screen 4">Screen 4</option>
                <option value="Screen 5">Screen 5</option>
            </select>

            <div class="center">
              <div class="form-input">
                <div class="preview">
                  <img id="file-ip-1-preview">
                </div>
                <label for="file-ip-1">Upload Poster</label>
                <input type="file" id="file-ip-1" name="image" accept="image/*"  selectedFile (change)="onSelectImage($event);showPreview($event)" required>
              </div>
            </div>
        </fieldset>
       
        <button type="submit">Upload</button>
        <span><small>**Poster Cannot be Edited Later</small></span>
       </form>
       
    </div>
</div>